.item {
  display: flex;
  gap: 0 10px;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.task {
  flex: 1 0 auto;
}

.button {
  min-width: 100px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: rgb(219 6 23);
  color: #fff;
  cursor: pointer;
  transition: opacity 200ms ease-in;

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    cursor: auto;
    background-color: rgb(189, 189, 189);
    color: rgb(77 77 77);
    opacity: 1;
  }
}
